body {
  background: #dcbb9a;
  width: 960px;
  padding: 15px 0;
  margin: 0 auto;
  box-sizing: border-box;
  vertical-align: middle; }

#content {
  padding: 15px; }

body h1 {
  color: #893c00;
  text-align: center; }

body h2 {
  color: #893c00; }

img.img-left {
  border: solid 2px #893c00;
  padding: 2px;
  float: left;
  margin: 0 23px 11px 0; }

a {
  color: #3d70a1; }

img.img-right {
  border: solid 2px #893c00;
  padding: 2px;
  float: right; }

.brief {
  background-color: #fadcba;
  float: left;
  padding: 25px;
  margin: 0 20px 20px 0;
  width: 39%; }

caption {
  text-align: right; }

th {
  background-color: #e0e0e0;
  font-size: 18px;
  font-style: thin;
  text-align: left;
  padding: 10px; }

td {
  padding: 10px;
  border-bottom: solid 2px #e0e0e0;
  background-color: #fff;
  color: #000; }

table, tbody, tr {
  border: none !important; }

form {
  display: grid; }

.input-area {
  display: grid !important; }

.name-area {
  display: flex; }

.name-area div {
  width: 50%;
  display: grid; }

textarea {
  height: 130px;
  border: 1px solid #e0e0e0;
  resize: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

input[type=button] {
  background-color: #fff;
  border: 1px solid #3d70a1;
  color: #3d70a1;
  padding: 1px 32px;
  width: 230px;
  height: 45px;
  cursor: pointer;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  color: #000; }

label {
  color: #3d70a1; }

input[type=text] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px; }

#content {
  width: 960px;
  margin: 0;
  background: #fff; }
