$contentBackground: #fff;
$bg-color: #dcbb9a;
$text-color: #000;
$contact-title-bg: #e0e0e0;
$label-color: #808080;
$main-title-color: #893c00;
$brief-width: 39%;
$link-color: #3d70a1;
$link-hover: #0280f9;
$brief-bg: #fadcba;
$table-bg: #fff;
$input-border: $contact-title-bg;
$img-border: solid 2px $main-title-color;
$button-color: #3d70a1;



















